:root {
   --main-color: #cca353;
   --border-color: #f0c36c;
   --light-grey: #d4cfcf;
   --white-color: #fff;
}

.titleBanner {
   background: var(--main-color);
   height: 55px;
   color: var(--white-color);
   font-size: 2.5em;
   text-align: center;
}

.searchInput {
   background-image: url('./background_search_mobile.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   padding: 3em 1em;
   min-height: 40vh;
   justify-content: space-evenly;
}

.buttonGroup {
   padding: 2rem 0;
   background-color: rgba(0, 0, 0, 40%);
}

.buttonGroup button {
   width: 100%;
   padding: 10px;
   background-color: transparent;
   color: var(--light-grey);
   border: none;

   font-size: 1.1em;
   font-weight: bold;
}

.buttonGroup button:hover {
   color: var(--white-color);
   cursor: pointer;
   transform: translateY(-.1em) scale(1.05);
   transition: all .2s;
}

.buttonGroup button[aria-pressed] {
   color: var(--main-color);
   cursor: pointer;
   transform: translateY(-.1em) scale(1.05);
   transition: all .2s;
}

.searchTab {
   margin: 0;
}

.searchTab button {
   color: var(--white-color);
}

input {
   height: 2.5em;
}

.goButton {
   width: 40vw;
   padding: .8em 1.5em;
   border: 3px solid var(--main-color);
   border-radius: 5px;
   background-color: var(--main-color);
   font-size: 1em;
   font-weight: bold;
   color: var(--white-color);
   margin: 1em auto;
}

.goButton:hover {
   background-color: var(--border-color);
   border-color: var(--border-color);
   color: var(--white-color);
   cursor: pointer;
   transition: all .2s;
}

@media screen and (min-width: 720px) {
.searchInput {
   background-image: url('./background_search_desktop.jpg');
}

.buttonGroup, .divider {
   margin: 0 20vw;
   background-color: transparent;
}

.goButton {
   max-width: 150px;
}
}